* {
	margin: 0;
	padding: 0;
	font-family: 'Muli', sans-serif;
}

body {
	background-color: #000;
	height: 200vh;
	font-family: 'Muli', sans-serif;
}

.text {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	list-style: none;
	border-bottom: 0;
}

.text.hidden {
	border-bottom: 1px solid #fff;
}

.text li {
	display: inline-block;
	float: left;
	font-weight: 700;
	font-size: 2em;
	color: #fff;
	opacity: 1;
	transition: all 0.5s ease-in-out;
	max-width: 3em;
}

.text.hidden li.spaced {
	padding-left: 0;
}

.text li.spaced {
	padding-left: 0.4em;
}

.text.hidden li.ghost {
	opacity: 0;
	max-width: 0;
}

.hide {
	display: none;
}

.full {
	width: 100%;
}

.ref {
	font-size: 11pt;
	letter-spacing: -.5px;
}

.lightgrey {
	color: #eee;
}